.card-diferenciais {
    display: flex;
    max-width: 24rem;
    padding: 2rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 16px;
    background: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-diferenciais h5 {
    color: var(--zinc-950);
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
}

.card-diferenciais p {
    color: var(--zinc-800);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

@media(max-width: 768px) {
    .card-diferenciais {
        width: 100%;
        max-width: 22rem;
    }
}