/* General Styles */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #292929;
    padding: 20px;
    text-align: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

header h1 {
    color: white;
    font-size: 2em;
    
    margin: 0;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.1em;
}

nav a:hover {
    text-decoration: underline;
}

/* Faixas de Empresas e Tecnologias */
.info-strip {
    background-color: #f5f5f5;
    color: rgb(161, 161, 161);
    text-align: center;
    padding: 10px 0;
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 40px;
    padding-left: 5%;
}



.icon-row {
    display: flex;
    gap: 20px;
}

.icon {
    max-width: 40px;
    height: auto;
    vertical-align: middle;
}

/* Content Section (Left and Right Columns) */
.content-section {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Left Section */
.left-section {
    width: 55%;
    text-align: center;
    padding-right: 5%;
}

.profile-image {
    width: 100%;
    height: auto;
    max-width: 70%;
    
}

.description {
    font-size: 1.2em;
    line-height: 1.6;
    color: #555;
}

/* Right Section (Projects) */
.right-section {
    width: 65%;
    padding-bottom: 10%;

}


/*Testimonials start*/
.testimonials blockquote {
    font-style: italic;
    margin: 20px auto;
    max-width: 800px;
    padding: 10px;
    background-color: #ddd;
    border-left: 5px solid #292929;
}

.testimonials cite {
    display: block;
    margin-top: 10px;
    text-align: right;
    padding-right: 10px;
    font-size: 17px;
}


/*Testimonials end*/



/* Grid de Projetos */
.projects-grid {
    display: grid;
    gap: 20px; /* Diminua o espaço entre os projetos */
    flex-wrap: wrap;
    width: 100%;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas com tamanhos iguais */
    margin-top: 20px;
    
}

/* Item do Projeto */
.project-item {
    background-color: white;
    padding: 15px; /* Reduza o preenchimento */
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1); /* Diminua a sombra */
    width: 100%;
    max-width: 300px;
    text-align: center;
    margin-bottom: 20px;
}

/* Imagem do Projeto */
.project-item img {
    width: 50%;
    height: auto;
    max-width: 50%; /* Garante que a imagem não exceda o container */
}

/* Título do Projeto */
.project-item h3 {
    font-size: 1.2em; /* Reduza o tamanho da fonte */
    margin-top: 15px; /* Ajuste a margem superior */
}

/* Descrição do Projeto */
.project-item p {
    font-size: 0.9em; /* Diminua o tamanho da fonte */
    color: #666;

}

/* Botão do Projeto */
.project-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px; /* Ajuste o preenchimento */
    background-color: #dc5858;
    color: white;
    text-decoration: none;
    font-size: 0.9em; /* Ajuste o tamanho da fonte */
}

.project-btn:hover {
    background-color: #444;
}

/* Footer */
footer {
    background-color: #292929;
    color: white;
    text-align: center;
    padding: 20px;
}


.menu-toggle{
    display: none;
}

/* responsividade */




/* Responsividade para iPhone 11 */
@media screen and (max-width: 828px) and (max-height: 1792px) {

    nav {
        display: none;
        flex-direction: column; 
        width: 100%;
        text-align: left;
        padding-left: 5%;
        padding-top: 10px;
    }

    /* Exibe o botão hamburguer */
    .menu-toggle {
        
        display: block;
        cursor: pointer;
        font-size: 2em;
        background: none;
        border: none;
        color: antiquewhite;
        align-self: flex-start;
        padding-left: 5%;
    }

    /* Quando o menu estiver ativo, exibe a navegação */
    nav.active {
        display: none;
    }


    /* Outros ajustes para a responsividade */
    .header-content {
        display: flex;
      
        text-align: center;
        align-items: center;
    }

    /* Ajustando o título no header */
    header h1 {
        font-size: 1em; /* Ajuste do tamanho da fonte para o iPhone 11 */
        display: none;
    }
    
    /* Ajustando as faixas de empresas e tecnologias */
    .info-strip {
        font-size: 0.7em;
        gap: 10px;
    }

    /* Ajustando os ícones */
    .icon {
        max-width: 23px; /* Ajustando o tamanho do ícone para maior proporcionalidade */
    }

    .icon-row{
        display: block;
    }
    /* Ajustando o layout da seção de conteúdo */
    .content-section {
        flex-direction: column;
        padding: 15px; /* Ajuste da quantidade de padding */
    }

    /* Ajustando as seções esquerda e direita */
    .left-section, .right-section {
        width: 100%;
        padding: 0;
    }

    /* Ajustando as imagens do perfil */
    .profile-image {
        max-width: 60%; /* Ajuste da largura da imagem */
    }

    /* Ajustando o texto da descrição */
    .description {
        font-size: 1.0em; /* Ajuste do tamanho da fonte */
    }


    /* Ajustando o grid de projetos */
    .projects-grid {
        grid-template-columns: 1fr;
        gap: 15px;
        transition: background-color 0.3s ease;
      
    }

    /* Ajustando os itens do projeto */
    .project-item {
        max-width: 280px; /* Ajuste do tamanho máximo do item do projeto */
        margin: 15px auto;
        border-radius: 4%;
    }

    /* Ajustando o tamanho do texto do título do projeto */
    .project-item h3 {
        font-size: 1.1em; /* Ajuste do tamanho do título */
    }

    /* Ajustando o texto do botão do projeto */
    .project-btn {
        font-size: 0.85em; /* Ajuste do tamanho da fonte */
    }

    /* Ajuste no rodapé */
    footer {
        padding: 15px;
        font-size: 0.9em;
    }

    /* Ajustes gerais no header */
    header {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    /* Ajuste no conteúdo do header */
    .header-content {
        flex-direction: column;
        text-align: center;
        width: 100%;
        font-size: 1em;
    }

    /* Ajustando os links de navegação */
    nav a {
        font-size: 1em; /* Ajuste do tamanho da fonte */
        margin: 5px;
    }

    /* Ajuste na barra de navegação */
    nav {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    /* Ajuste na descrição do projeto */
    .project-item p {
        font-size: 0.9em; /* Ajuste no tamanho da fonte */
    }

    

   /* Definindo a animação de transição */
    @keyframes changeColor {
        0% {
            background-color: #dddddd; /* Cor inicial */
        }
        50% {
            background-color: #97cdf0; /* Cor inicial */
        }
       
        100% {
            background-color: #dddddd; /* Retorna à cor inicial */
        }
    }

    /* Ajuste no conteúdo de depoimentos */
    .testimonials blockquote {
        font-size: 1em; /* Ajuste do tamanho da fonte */
        margin: 15px auto;
        animation: changeColor 5s infinite;
    }

    .testimonials cite {
        font-size: 1em;
        padding-right: 15px;
        
    }

    /* Ajuste nas faixas de empresa e tecnologia */
    .info-strip {
        font-size: 1em;
        padding-left: 10%;
    }

    /* Ajustes nos itens de projeto */
    .project-item img {
        max-width: 60%; /* Ajuste da largura da imagem */
    }
}
